
body {
 /* background-image: url(../images/hexagons.svg);*/
  border-top: 2px solid rgb(255, 69, 0);
  font-family: "Oswald";
  max-width: 960px;
  margin: 0 auto;
  color: #333;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 30fr 10fr;
  grid-gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1em;
  height: 600px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr 5fr;
  grid-gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  height: 200px;
  text-align: center;
}

header {
  background-color: transparent;
  color: #333;
  grid-column-start: 1;
  grid-column-end: 2;
}

#logo h1 {
  font-size: 60px;
  margin: 0px 0px 0px 20px;
  padding: 0px;
  text-transform: uppercase;
}

#logo p {
  display: block;
  font-size: 14px;
  letter-spacing: 0.4em;
  margin-top: 0px;
  padding-left: 25px;
  text-transform: uppercase;
}

nav {
  background-color: transparent;
  color: #333;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 15px;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr 15fr;
  grid-gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  height: 350px;
  text-align: center;
  background-color: black;
  color: white;
  /*grid-column-start: 1;
  grid-column-end: 4;*/
  /*height: 500px;*/
}

#edition {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  text-transform: uppercase;
}

aside.benefit1, aside.benefit2, aside.benefit3 {
 background-color: transparent;
 color: black;
 padding: 0px 80px 0px 80px;
 text-align: center;
}

aside.benefit4, aside.benefit5 {
 background-color: transparent;
 color: black;
 padding: 0px 120px 0px 120px;
 text-align: center;
}

aside.benefit1 {
 grid-column-start: 1;
 grid-column-end: 2;
}

aside.benefit5 {
  grid-column-start: 2;
  grid-column-end: 4;
}

aside h2 {
  font-size: 14px;
  text-transform: uppercase;
}

aside p {
  font-size: 14px;
  font-weight: 200;
}

footer {
  font-family: 'VT323', monospace;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 4;
}

#topnav a {
  color: #333;
  font-size: 16px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  height: 3.5em;
  background-color: #FCE3DB;
  color: #333;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  border: 2px solid #EBD2CA;
  border-radius: 5px;
  padding: 5px 0;
  text-transform: uppercase;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 200%;
  right: -60%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  padding-top: 15px;
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 75%;
  margin-left: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #EBD2CA transparent;
}
